{{ define "header" }}
<!-- Post Header -->
<style type="text/css">
    header.intro-header {
        background-image: url('{{ if .Params.image }}{{ .Params.image | relURL }}{{ else }}{{ .Site.Params.header_image | relURL}}{{ end }}')
    }
</style>
{{ if eq .Params.headerstyle "text" }}
<header class="intro-header style-text" >
{{ else }}
<header class="intro-header" >
{{ end }}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <div class="tags">
                        {{ range .Params.tags }}
                        <a class="tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">
                            {{ . }}
                        </a>
                        {{ end }}
                    </div>
                    <h1>{{ .Title }}</h1>
                    <h2 class="subheading">{{ .Params.subtitle }}</h2>
                    <span class="meta">
                        {{ if .Params.metadata }}
                            {{ range $index, $element := .Params.metadata }}
                                {{ if .link }}
                                    <a href="{{ .link }}">{{ .text }}</a>
                                {{ else }}
                                    {{ .text }}
                                {{ end }}
                            {{ end }}
                        {{ else }}
                            {{ .Date.Format "2006-01-02" }}
                            {{ if .Site.Params.page_view_conter }}
                                {{ partial "page_view_counter.html" . }}
                            {{ end }}
                            <!-- Don't show "Last Modified on" if update happened on the same day. -->
                            {{ if (and (not .Lastmod.IsZero) (not (eq (dateFormat "2006-01-02" .Lastmod) (dateFormat "2006-01-02" .Date)))) }}
                            <br>Last Modified on {{ dateFormat "Monday, January 2, 2006" .Params.LastMod }}
                            {{ end }}
                        {{ end }}    
                    </span>
                    <!-- start SNS Link -->
                    <br />
                    <ul class="list-inline text-left">
                        {{ if .Site.Params.social.rss }}
                        <li>
                            <a href='{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}' rel="alternate" type="application/rss+xml" title="{{ .Site.Title | default "" }}" >
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        {{ end }}
                         {{ with .Site.Params.social.email }}
                         <li>
                             <a href="mailto:{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
     
                         {{ with .Site.Params.social.twitter }}
                         <li>
                             <a href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                         {{ end }}
                         {{ with .Site.Params.social.zhihu }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab  fa-stack-1x fa-inverse">知</i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.weibo }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-weibo fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
     
                         {{ with .Site.Params.social.facebook }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
     
                 <!-- Huabing: add wechat QR code link -->
                         {{ with .Site.Params.social.wechat }}
                         <li>
                             <a target="_blank" href="{{ . | relURL }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-weixin fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.github }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.gitlab }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.git }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-git fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.linkedin }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.medium }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-medium fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.stackoverflow }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-stack-overflow fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.reddit }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.slack }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-slack fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.mastodon }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                         {{ with .Site.Params.social.keybase }}
                         <li>
                             <a target="_blank" href="{{ . }}">
                                 <span class="fa-stack fa-lg">
                                     <i class="fas fa-circle fa-stack-2x"></i>
                                     <i class="fab fa-keybase fa-stack-1x fa-inverse"></i>
                                 </span>
                             </a>
                         </li>
                 {{ end }}
                 {{ with .Site.Params.social.xing }}
                 <li>
                     <a target="_blank" href="{{ . }}">
                         <span class="fa-stack fa-lg">
                             <i class="fas fa-circle fa-stack-2x"></i>
                             <i class="fab fa-xing fa-stack-1x fa-inverse"></i>
                         </span>
                     </a>
                 </li>
                 {{ end }}
                 {{ with .Site.Params.social.instagram }}
                 <li>
                     <a target="_blank" href="{{ . }}">
                         <span class="fa-stack fa-lg">
                             <i class="fas fa-circle fa-stack-2x"></i>
                             <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
                         </span>
                     </a>
                 </li>
                 {{ end }}
                 {{ with .Site.Params.social.flickr }}
                 <li>
                     <a target="_blank" href="{{ . }}">
                         <span class="fa-stack fa-lg">
                             <i class="fas fa-circle fa-stack-2x"></i>
                             <i class="fab fa-flickr fa-stack-1x fa-inverse"></i>
                         </span>
                     </a>
                 </li>
                 {{ end }}
                 <li>
                    <!-- hatena bookmark -->
                    <span class="fa-stack fa-lg">
                    <a href="https://b.hatena.ne.jp/entry/" class="hatena-bookmark-button" data-hatena-bookmark-layout="touch-counter" title="このエントリーをはてなブックマークに追加">
                        <img src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" />
                    </a>
                    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>
                    </span>
                 </li>
                </ul>
                <!-- end SNS Link -->
                </div>
            </div>
        </div>
    </div>
</header>
{{ end }}

{{ define "main" }}
<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">

            <!-- Post Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                post-container">

                <!--
                {{ if not (eq (.Param "showtoc") false) }}
                <header>
                    <h2>TOC</h2>
                </header>
                {{.TableOfContents}}
                {{ end }}
                -->
                {{ .Content }}

                {{ if .Site.Params.reward }}
                {{ partial "reward.html" . }}
                {{ end }}

                <hr>
                <ul class="pager">
                    {{ if .PrevInSection }}
                    <li class="previous">
                        <a href="{{ .PrevInSection.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title}}">&larr;
                            Previous Post</a>
                    </li>
                    {{ end }}
                    {{ if .NextInSection }}
                    <li class="next">
                        <a href="{{ .NextInSection.RelPermalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title}}">Next
                            Post &rarr;</a>
                    </li>
                    {{ end }}
                </ul>
                {{ partial "comments.html" . }}
            </div>

            <!-- Side Catalog Container -->
            {{ if not (eq (.Param "showtoc") false) }}
            <div class="
                col-lg-2 col-lg-offset-0
                visible-lg-block
                sidebar-container
                catalog-container">
                <div class="side-catalog">
                    <hr class="hidden-sm hidden-xs">
                    <h5>
                        <a class="catalog-toggle" href="#">CATALOG</a>
                    </h5>
                    <ul class="catalog-body"></ul>
                </div>
            </div>
            {{ end }}

            <!-- Sidebar Container -->
            <div class="
                col-lg-8 col-lg-offset-2
                col-md-10 col-md-offset-1
                sidebar-container">

                <!-- Featured Tags -->
                {{ if .Site.Params.featured_tags }}
                <section>
                    <hr class="hidden-sm hidden-xs">
                    <h5><a href="/tags/">FEATURED TAGS</a></h5>
                    <div class="tags">
                        {{ $featured_condition_size := .Site.Params.featured_condition_size }}
                        {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
                        {{ if gt (len $taxonomy.Pages) $featured_condition_size }}
                        <a href="{{ "/tags/" | relLangURL }}{{ $name | urlize }}" title="{{ $name }}">
                            {{ $name }}
                        </a>
                        {{ end }}
                        {{ end }}
                    </div>
                </section>
                {{ end }}

                <!-- Friends Blog -->
                {{ if .Site.Params.friends }}
                <section>
                    <hr>
                    <h5>FRIENDS</h5>
                    <ul class="list-inline">
                        {{ range .Site.Params.friend_link }}
                        <li><a target="_blank" href="{{.href}}">{{.title}}</a></li>
                        {{ end }}
                    </ul>
                </section>
                {{ end }}

<!-- Google Adsense -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-0116602540349648"
     crossorigin="anonymous"></script>
<!-- pepe_blog_side -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:250px"
     data-ad-client="ca-pub-0116602540349648"
     data-ad-slot="7455097821"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>

            </div>
        </div>
    </div>
</article>

{{ end }}
